<div class="edit-post-title">
  投稿内容編集
</div>
<div class="edit-post-form">
  <%= render partial: "form", locals: {work: @work} %>
</div>

<%= link_to '← 作品詳細へ戻る', work_path(@work.id), class: "return_to" %>