<div class="action-result">
  検索結果
</div>
<div class="work_lists_field">
    <ul class="work_lists">
      <% @works.each do |work| %>
        <li class="work_list">
          <div class="work-image">
            <%= link_to image_tag(work.images[0], height:"250px"), work_path(work.id) %>
          </div>
          <div class="work-info">
            <div class="work-title">
              <span class="work_title_font"><%= work.title %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<%= link_to '← トップへ戻る', root_path, class: "return_to" %>