// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.works {
  margin-top: 20px;
}

.work-lists {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px 0 0 10px;
}

.work-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-info {
  margin-top: 20px;
  text-align: center;
}

.comment-field {
  width: 600px;
}

.show-comments {
  width: 600px;
  margin: 50px auto 0;
}

.comment-list {
  margin-bottom: 20px;
}

.text-form {
  width: 400px;
  height: 60px;
  padding: 10px;
  margin: 0 auto 10px;
  display: block;
}

.send {
  width: 80px;
  padding: 5px;
  margin: 0 auto 10px;
  display: block;
}