// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.works {
  margin-top: 20px;
}

.work-lists {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px 0 0 10px;
}

.work-image {
}

.work-title {
  margin: 5px 0 0 15px ;
}

.work-description {
  margin: 5px 0 0 15px;
}